amqp==5.3.1
audioread==3.0.1
billiard==4.2.1
blinker==1.9.0
boto3==1.38.26
botocore==1.38.26
celery==5.5.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
decorator==4.4.2
Flask==3.1.1
flask-cors==6.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
kombu==5.5.4
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
MarkupSafe==3.0.2
moviepy==1.0.3
msgpack==1.1.0
numba==0.61.2
numpy==2.2.6
opencv-python-headless==4.11.0.86
packaging==25.0
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
proglog==0.1.12
prompt_toolkit==3.0.51
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
redis==5.2.1
requests==2.32.3
s3transfer==0.13.0
scenedetect==0.6.6
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
soundfile==0.13.1
soxr==0.5.0.post1
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
